default:
  app:
    enabled: true
    enableAutoSync: true
    autoSyncPrune: true
    project: cluster-config
    destination:
      namespace: openshift-gitops
      server: https://kubernetes.default.svc
    source:
      repoURL: https://github.com/vagabond-studios/gitops-config
      targetRevision: HEAD

projects:
  cluster-config:
    description: Project for overall cluster configuration
    namespace: openshift-gitops
    sourceRepos:
      - https://github.com/vagabond-studios/gitops-config
      - https://github.com/tim-stasse/gitops-catalog
    destinations: |
      - namespace: '*'
        server: https://kubernetes.default.svc
    extraFields: |
      clusterResourceWhitelist:
      - group: '*'
        kind: '*'

applications:
  openshift-gitops-config:
    annotations:
      argocd.argoproj.io/sync-wave: "1"
    destination:
      namespace: openshift-gitops
    source:
      path: openshift-gitops-config/overlays/default

  machine-config:
    annotations:
      argocd.argoproj.io/sync-wave: "1"
    source:
      path: machine-config/overlays/default

  patch-operator:
    annotations:
      argocd.argoproj.io/sync-wave: "1"
    destination:
      namespace: patch-operator
    source:
      path: patch-operator/overlays/default

  openshift-config:
    annotations:
      argocd.argoproj.io/sync-wave: "1"
    destination:
      namespace: openshift-config
    source:
      path: openshift-config/overlays/default

  redhat-keycloak-operator:
    annotations:
      argocd.argoproj.io/sync-wave: "2"
    destination:
      namespace: keycloak
    source:
      repoURL: https://github.com/tim-stasse/gitops-catalog
      path: redhat-keycloak/operator/overlays/stable-v24
