apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/tim-stasse/gitops-catalog/patch-operator/operator/overlays/alpha?ref=main

patches:
  - target:
      kind: Subscription
      name: patch-operator
    patch: |-
      - op: replace
        path: /spec/config/resources/limits/memory
        value: 1Gi
